.container{
    margin: 100px auto;
    text-align: center;
}

.button{
    padding: 12px 40px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 40px;
}